.borderStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    width: 30%;
   // margin: auto;
     margin-top: 60px;
    // margin-left: 30px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 40%;
    border-radius: 3%;
  }
.designEmailreset
{
  width: 80%;
  padding-left: 30px;
  
}
.buttonStyleforNext
    {
      border: 0px;
      color: white;
      margin-left: 200px;
      margin-bottom: 5%;
      background-color: blue;
      height: 40px;width: 70px;
      padding-bottom: 0%;
      border-radius: 2;
      
    }