

.noteSetting
{
    border: 1px solid ;
    border-color:grey ;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 700px;
    
    margin-top: 60px;
    padding-top: 10px;
    margin-left: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 60%;margin:35px; margin-left:250px
}
.takenoteSeting
{
    height: 20px;width: 200px; 
    border:none;
}
.closebuttonSetting
{
    margin-left:297px; border: 0px;font-size: large;background-color: white;margin-top: 0px;
}
.close
{
    margin-right: 40px;padding-top:30px;
}
.pin
{
    margin-left: 400px;
}
 

.takenote{
   // min-height: 27px;
    padding: 10px 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: large;
    height: 15px;
    width: 300px;
    border: none;
}
.title{
    min-height: 10px;
    padding: 10px 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    font-size: large ;width: 300px;border:none;
    
}
input {border:0;outline:0;}
    input {border:0;outline:0;}
    .hovericons{
        color: rgba(181, 174, 174, 0.283);
    
    }
  .checkBox{
    height: 60px;
    width:60px
    
     
  }  
.brushImage{
    height: 60px;
    width:60px

}
.image{
    height: 60px;
    width:60px
}
.hovericons{
    border: 0px;background-color: white; height: 20px; width: 20px; margin-left:620px ;
}

