.noteDisplaySetting
{
   
    
    margin-left: 70px;
    border-color: #e0e0e0;
    margin-top: 40px;
    border-radius: 14px;
    padding-top: 5px;
    background-size: auto;
    word-spacing: 5px;
    margin: 40px; 
    margin-right: 20px;
    width: 250px;
    height: 150px;
   
}




  .allicons{
    display: none;
    margin-top: 20px;
    word-spacing: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    
    
    
}

 .noteDisplaySetting:hover .allicons{
    display: block;
    margin-top: 20px;
   word-spacing:  5px; ;
    
}
.app-icons{
    margin-left: 50px;
    margin-top: 2px;
    word-spacing:10px ;
    padding-right: 15px;
   
    
}
:ng-deep .my-custom-dialog-class {
    mat-dialog-container {
      padding: 0 !important;
    }
  }
   p {
     word-spacing: 1.0 !important;
    
     
   }
   p.title{
     font-weight: bold;
    
   }
   div.noteDisplaySetting {
    text-align: justify;
  text-justify: inter-word;
  }
  .title{
    margin-right: 150px
  }
  .titleD{
    margin-right: 150px
  }
  .gridList
{
    //padding-left: 30px;
    width: 840px;
    height: auto;
    justify-content: center;
    margin-left: 200px;
    border: 1px solid gray;
    padding: 5px;
    border-spacing: 5px;
    
}
  