<div [style.background]="data.bgColor"  >
    <div fxLayout="column"  fxLayoutAlign="space-around center" class="noteDisplaySetting" >
 
     <input class="matInput" type="text" placeholder="Title" [(ngModel)]="title">
     <input class="matInput" type="text" placeholder="description" [(ngModel)]="description">
 
     
     
     <div style="display: flex;">
       <app-icons [notedata]="data" style="margin-top: 30px;" ></app-icons>
       <button (click)="onNoClick()" class="closeButton">update</button>      
     </div>
     
    </div>
    
   
  </div>
