.borderStylelogin
{
  border: 1px solid #dadcdf;
  width: 400px; 
  height: 280px; 
  margin-left: 80px;
  margin-top: 50px; 
  padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
   // align-content: center; 
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
}
.designEmail
{
  width: 80%;
  padding-right: 40px;
  padding-left: 30px;
  margin-top: 40px;
  
  
}
.buttonStyleforNext
{
  border: 0px;
  color: white;
  background-color: blue;
  height: 40px;width: 80px;
  margin: bottom 60px; 
  margin-left: 220px;
  margin-top: 50;
  
}
.Spacesforbutton 
{
  display: flex;
  gap: 30px 220px;
  width: 400px;
  color: blue;
  margin-top: 50px;
  font-size: medium;
  
}